@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600;800&display=swap");

:root {
  --ff-main: "Poppins", sans-serif;

  --fw-light: 100;
  --fw-reg: 400;
  --fw-bold: 600;
  --fw-extra: 800;

  --fs-light: 0.8rem;
  --fs-reg: 1rem;
  --fs-btn: 1.2rem;
  --fs-title: 2rem;

  --bg-colorblue: #00aaff;
  --bg-colorgreen: #00ff6c;

  --clr-darkest: #1e2124;
  --clr-dark: #282b30;
  --clr-grey: #36393e;
  --clr-lightgrey: #424549;
  --clr-main: #00aaff;
  --clr-accent: #00ff6c;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--clr-darkest);
  font-family: var(--ff-main);
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

fieldset {
  border: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input {
  width: 100%;
  display: flex;
  align-items: center;
  font-weight: var(--fw-reg);
  margin-top: 20px;
}

input[type="range"] {
  -webkit-appearance: none;
  background: transparent;
  cursor: pointer;
  width: 100%;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]:focus::-webkit-slider-thumb {
  border: 1px solid #053a5f;
  outline: 3px solid #053a5f;
  outline-offset: 0.125rem;
}

input[type="range"]:focus::-moz-range-thumb {
  border: 1px solid #053a5f;
  outline: 3px solid #053a5f;
  outline-offset: 0.125rem;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: var(--bg-colorgreen);
  height: 0.5rem;
}

input[type="range"]::-moz-range-track {
  background: var(--bg-colorgreen);
  height: 0.5rem;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  margin-top: -12px;
  background-color: var(--bg-colorblue);
  height: 2rem;
  width: 1rem;
}

input[type="range"]::-moz-range-thumb {
  border: none;
  border-radius: 0;
  background-color: var(--bg-colorblue);
  height: 2rem;
  width: 1rem;
}

.input > p {
  font-weight: var(--fw-reg);
  font-size: var(--fs-reg);
  color: var(--bg-colorgreen);
}

.input > p.left {
  margin-right: 20px;
}

.input > p.right {
  margin-left: 20px;
}

main {
  width: 90%;
  max-width: 1200px;
  margin: 40px auto;
}

.btn {
  border: none;
  border-radius: 4px;
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 1rem 0;
  margin: 20px 0;
  width: 100%;
  opacity: 0.6;
  transition: 0.3s;
  font-family: var(--ff-main);
  font-weight: var(--fw-bold);
  font-size: var(--fs-btn);
}

.btn:hover {
  opacity: 1;
}

#sliderValue {
  font-weight: var(--fw-bold);
  font-size: var(--fs-title);
  color: var(--bg-colorgreen);
}

.grid {
  margin: 30px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-flow: row dense;
  grid-auto-rows: 150px;
}

.card {
  box-sizing: border-box;
  height: 100%;
  border: 0px solid blue;
  background-color: var(--clr-lightgrey);
  overflow: hidden;
}

.card:hover {
  border: 5px solid blue;
}
