:root {
  --bg-colorblue: #00aaff;
  --bg-colorgreen: #00ff6c;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-colorblue);
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

fieldset {
  border: 0;
}

.input {
  width: 100%;
  display: flex;
  align-items: center;
  font-weight: bold;
  margin-top: 20px;
}

input[type="range"] {
  -webkit-appearance: none;
  background: transparent;
  cursor: pointer;
  width: 100%;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]:focus::-webkit-slider-thumb {
  border: 1px solid #053a5f;
  outline: 3px solid #053a5f;
  outline-offset: 0.125rem;
}

input[type="range"]:focus::-moz-range-thumb {
  border: 1px solid #053a5f;
  outline: 3px solid #053a5f;
  outline-offset: 0.125rem;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: #053a5f;
  height: 0.5rem;
}

input[type="range"]::-moz-range-track {
  background: #053a5f;
  height: 0.5rem;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  margin-top: -12px;
  background-color: #5cd5eb;
  height: 2rem;
  width: 1rem;
}

input[type="range"]::-moz-range-thumb {
  border: none;
  border-radius: 0;
  background-color: #5cd5eb;
  height: 2rem;
  width: 1rem;
}

main {
  width: 90%;
  max-width: 1200px;
  margin: 40px auto;
}

.btn {
  border: none;
  border-radius: 4px;
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 1rem 0;
  margin: 7px 0;
  width: 100px;
  opacity: 0.6;
  transition: 0.3s;
}

.btn:hover {
  opacity: 1;
}

.grid {
  margin: 30px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-flow: row dense;
  grid-auto-rows: 150px;
}

.card {
  box-sizing: border-box;
  height: 100%;
  border: 0px solid blue;
  background-color: green;
  overflow: hidden;
}

.card:hover {
  border: 5px solid blue;
}
